body {
    font-family: MaruMonica;
    margin: 0;
    overflow: hidden;
    user-select: none;

    #container {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        text-align: center;
        margin: auto;
        height: 100vh;
        background-color: aliceblue;
        flex-direction: column;

        #main {
            max-height: 70vh;
            display: flex;
            flex-direction: column;


            h1 {
                color: lightslategrey;

                font-size: 2em;
                text-align: center;
                margin: 0px 20px 20px 20px;
            }

            #app {
                max-height: 100%;
                canvas {
                    height: 130vmin;
                    max-height: calc(100% - 4em);
                    margin: auto;
                    align-self: stretch;
                    display: block;
                    image-rendering: pixelated;
                    margin: auto;
                }
            }
        }


        a {
            color: coral;
            font-size: 1em;
            margin: 5px;
        }

        p {
            color: lightslategrey;
            font-size: 1.5em;
            margin: 5px;
        }
    }
}


@font-face {
    font-family: 'MaruMonica';
    src: url(./font/MaruMonica.ttf);
}